#cont{
    position: relative;
    overflow: hidden;
    background-color: black;
    width: 400px;
    height: 200px;
}

.box{
    box-sizing: border-box;
    float: left;
    background-color: #66320E;
    width: 25%;
    height: 96px;
    border: 2px solid black;
}

.box_l2{
    clear: both;
}

.line{
  background-color: darkred;
  height: 5px;
  width: 400px;
  margin-top: 97px;
  margin-bottom: 1px; 
}